nav{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    border: 1px solid red;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero{
    background-color: linear-gradient(to right, #6a11cb, #2575fc);
    background-image: url("https://images.unsplash.com/photo-1536859355448-76f92ebdc33d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fHByb2dyYW1taW5nfGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    text-align: center;
    color: goldenrod;
    font-size: 20px;
}
.hero-content{
    max-width: 800px;
    margin: 0 auto;

}
main{
    padding: 40px 10px;
    background-image: url("image.jpeg");
}
#about{
    background-color: rgba(40, 40, 40, 0.8);
    color:white;
}
#about h2{
    color: aqua;
    text-align: center;
}
#portfolio{
    background-color: rgba(85, 85, 85, 0.8);
}
#portfolio h2{
    color: aqua;
    text-align: center;
}
.projects{
    padding: 20px;
}
#skills{
    background-color: #a9a9a9;
    padding:20px;
}
#skills h2{
    color:aqua;
    text-align: center;
}
#contact{
    background-color: #d3d3d3;
    padding:60px;
    text-align: center;
    margin-top: 20px;
}
#contact h2{
    color: aqua;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#contact p{
    font-size: 20px;
    color: #666;
    margin-top: 30px;
    margin-bottom: 30px;
}
#contact form{
    max-width: 50px;
    margin: 0, auto;
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
}
#contact button{
    background-color: #007bff;
    color: white;
    padding: 15px;
    font-size: 13px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
contact button:hover{
    background-color: #0056b3;
}
